<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Properties>
        <Property name="filename">xresloader.run.log</Property>
        <Property name="formatMsgNoLookups">true</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleOut" ignoreExceptions="true" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level] %logger{36} - %msg%n}{INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}" />
            <Filters>
                <LevelRangeFilter minLevel="TRACE" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <Console name="ConsoleErr" ignoreExceptions="true" target="SYSTEM_ERR">
            <PatternLayout pattern="%highlight{[%-5level] %logger{36} - %msg%n}{FATAL=Bright Magenta, ERROR=Bright Red, WARN=Bright Yellow}" />
            <Filters>
                <LevelRangeFilter minLevel="WARN" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <File name="File" fileName="${filename}" append="false" ignoreExceptions="true">
            <PatternLayout>
                <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS}]:[%-5level] %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleOut"/>
            <AppenderRef ref="ConsoleErr"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>