Language: Proto
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 256
CommentPragmas: ''
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
TabWidth: 4
UseTab: Never