# setup @see https://help.github.com/en/articles/workflow-syntax-for-github-actions
# environment @see https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions
#                  https://help.github.com/en/articles/virtual-environments-for-github-actions
# example     @see https://github.com/actions/toolkit/blob/master/.github/workflows/workflow.yml
name: Master Building
# This workflow is triggered on pushes to the repository.
on: # @see https://help.github.com/en/articles/events-that-trigger-workflows#webhook-events
  push:
    branches: # Array of patterns that match refs/heads
      - master # Push events on master branch
      - dev
  # schedule:
  #  - cron:  0 * * * *

jobs:
  build: # job id, can be any string
    # Job name is Build And Publish
    name: Build And Publish
    # This job runs on Linux
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@master # https://github.com/actions/checkout
        with:
          lfs: true
      - name: Set up JDK 8.x
        uses: actions/setup-java@master # https://github.com/actions/setup-java
        with:
          java-version: "8"
          java-package: jdk
          architecture: x64
      - name: Build with Maven
        # uses: .github/action/build-with-maven
        run: |
          cd tools;
          python3 -m pip install --user -r requirements.txt;
          python3 gen_header_v2.py;
          python3 gen_header_v3.py;
          cd .. ;
          mvn package --file pom.xml
          cd sample;
          bash gen_sample_output.sh;
